@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --font-playwrite : "Playwrite DK Loopet", cursive;
}

:root {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
a.active{
  text-decoration: underline;
}
